<ion-view id="page3" style="background-color:#ECECEC;" >
   <ion-nav-title >
        <h1 class="title">Dicas</h1>
   </ion-nav-title>
  <ion-content padding="true" class="has-header" has-bouncing="true">
     <div class="list card" id="dicas-card" menu-close ng-repeat="dica in dicas track by dica.id" ui-sref="tabsController.detalhe({dica: dica.id})" ng-style="{background: colorCodeArray[$index % colorCodeArray.length]}">
        <div class="item-card item-image" id="dicas-list-item-container" >
            <div id="dicas-item" class="show-list-numbers-and-dots" >
              <p id="nomeDica" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; " ng-bind="::dica.descricao"> </p>
            </div>
        </div>
        <div class="item item-body" id="dicas-list-item-container9">
            <div id="dicas-markdown10" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">veja mais +</p>
            </div>
        </div>
     </div>

  </ion-content>
</ion-view>